body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin-left:10px;
  margin-top:-5px;
  margin-bottom:0px;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:25px;
  background:#f80b0b;
  border:0;
  margin-left:0px;
  margin-top:15px;
  padding:4px;
  padding-left: 10px;
  padding-right:20px;
  color:#ffffff;
}
.button_2 {
  height:20px;
  background:#e8491d;
  border:0;
  margin-left:0px;
  margin-top:15px;
  padding-left: 10px;
  padding-right:20px;
  color:#ffffff;

  
 
}
.button_3 {
  background:url('../img/wheel.png') no-repeat
 
}
.button_4{
  background:url('../img/stick.png') no-repeat
 
}
.button_5 {
  background:url('../img/bed.png') no-repeat
 
}


.dark{
  padding:15px;
  background:#050505;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  margin-top:-400px;
}

/* Header **/
header{
  background:#080808;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#f00d0d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/*showmap*/
#showmap{
  
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  color:#ff8c00;
}

#showcase p{
  font-size:20px;
  color:#ff8c00;
}

/* Newsletter */
#newsletter{
  padding:7px;
  color:#ffffff;
  background:#050505
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:left;
  margin-top:1px;

}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:10px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:left;
  width:35%;
  
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:10px;
}

/* Main-col */
article#main-col{

  float:left;
  width:200%;
}

#main{
  min-height:400px;

  background:url('../img/asset.png') no-repeat 0 -400px;
}

/* Services */


ul#services li{
  min-height:200px;
  list-style: none;
  padding:150px;
  margin-left:320px;
  border: #cccccc solid 1px;
}

footer{
  padding:2px;
  margin=bottom:2px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 1000px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
  
}
