.App {
    text-align: center;

}

.App-logo {
    height: 16vmin;
}

.App-header {
    background-color: #ffffff;
    min-height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {

}

.App-link {
    color: #61dafb;
}

.HomeScreenButton {
    height: 12vmin;
    width: 12vmin;
    border-radius: 6vmin;
    background-color: #dcdcdc;
    margin: -1vmin;
}

.row {
    display: flex;
}

*:focus {
    outline: none;
}